#dashboard {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 4;
    background: #fff;
    padding: 10px 20px;
}

#matches{
    mat-card{
        width : 200px;
        min-width: 200px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}